@model  ContactBook.Models.Telephone
@{
    ViewBag.Title = "_AddNumber";
}


<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" style="vertical-align: central" data-toggle="modal" data-target="#CreatePhone_@ViewData["ContactId"]">    
    Add Numbers
</button>


<!-- Modal -->
<div class="modal fade" id="CreatePhone_@ViewData["ContactId"]" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header padding-bottom-20">
                <h5 class="modal-title" id="exampleModalLabel"> Add a Phone </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Telephones", FormMethod.Post))
             {

                @Html.AntiForgeryToken()
                @Html.Hidden("ContactId")
                <form>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12 padding-bottom-20">
                            @Html.TextBoxFor(model => model.PhoneNumber, null, new { required = "required" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </div>
                </form>

             }
        </div>
    </div>
</div>


