@model IEnumerable<ContactBook.Models.Telephone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model.Count() == 0)
{
    <p>
        You have not phone number yet!
    </p>
    <p>
        @Html.ActionLink("Add Number", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.contact.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.contact.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Create", "Create", new { id = item.TelephoneId }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.TelephoneId }, new { onclick = $"return confirm('{item.PhoneNumber} will be deleted. Are you sure ?');", @class = "btn btn-danger" })
                </td>
            </tr>
        }
        <p>
            @Html.ActionLink("Add Number", "Create",null ,new { @class = "btn btn-primary" })
        </p>

    </table>

}

